/* FLEXBOX 

    justify-content:
    Define o alinhamento dos itens ao longo do eixo principal do container flexível.

    Flex-start: 
    Alinha os itens no início do container flexível. A ESQUERDA

    Flex-end: 
    Alinha os itens no final do container flexível. Á DIREITA

    Center: 
    Alinha os itens no centro do container flexível. AO CENTRO

    Space-between: Distribui os itens igualmente, com o primeiro item no início e o último item no final do container flexível. ESPAÇO ENTRE OS ITENS

    Space-around: 
    Distribui os itens igualmente, com espaço ao redor de cada item. ESPAÇO AO REDOR

    align-items:
    Define o alinhamento dos itens ao longo do eixo transversal do container flexível.
    align-items: flex-start; Alinha os itens no início do eixo transversal. (Topo)
    align-items: flex-end; Alinha os itens no final do eixo transversal. (Base  
*/

/* FLEX DIRECTION
    ROW: Alinha os itens em uma linha horizontal. (Padrão)
    ROW-REVERSE: Alinha os itens em uma linha horizontal, mas na ordem inversa.
    column: Alinha os itens em uma coluna vertical.
    column-reverse: Alinha os itens em uma coluna vertical, mas na ordem inversa.

*/

body {
display: flex;
align-items: center;
flex-direction: column;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(to right, #0e112e, #0c0f2c, #181e4e);
color: #000000;
min-height: 100vh;
}

.card {
width: 500px;
height:170px;
padding: 20px;
border: 2px solid #d4af37;
box-shadow: 0 0 10px rgba(236, 215, 26, 0.5);
border-radius: 10px;
background-color: #292442;
box-sizing: border-box;

}


.perfil {
display: flex;
align-items: center;
gap: 15px;
}

.perfil img {
    border: 2px solid #d4af37;
width: 100px;
height: 100px;
border-radius: 50%;
}

.perfil p {
    font-size: 14px;
    font-weight: bold;
color: #37d4bf;
text-align: center;
margin: 5;
}

.perfil h1 {
color: yellow;
margin: 0;
text-align: center;
}

H2 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee23f;
    text-align: center;
}

.perfil h3 {
color: rgb(39, 192, 179);
margin: 5px 0;
text-align: center;
}

.perfil h4 {
color: rgb(63, 111, 128);
margin: 5px 0;
}

.perfil h5 {
color: lightgreen;
margin: 0;

}
.stats {
display: inline-block;  
gap: 10px;
}


.cartas {
display: grid;
grid-template-columns: repeat(4, 80px);
gap: 8px;
justify-content: center;
}

.carta {
width: 80px;
height: 105px;
background-color: rgba(161, 38, 199, 0.5);
background-image: linear-gradient(to bottom, rgba(105, 76, 233, 0.842), rgba(161, 38, 199, 0.5));
border: 2px solid #f0d74d;
border-radius: 9px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.nivel {
position: absolute;
top: 3px;
right: 3px;
width: 17px;
height: 17px;
background: #ffd900;
border-radius: 50%;
font-size: 9px;
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
}

.imagem {
font-size: 35px;
margin-top: 5px;
}

.nome {
color: white;
font-family: Arial;
font-size: 10px;
margin-top: 4px;
}

.link {
    width: 100px;
height:200px;
padding: 20px;
border: 2px solid #d4af37;
box-shadow: 0 0 10px rgba(236, 215, 26, 0.5);
border-radius: 10px;
background-color: #292442;
box-sizing: border-box;
}

header {
text-align: center;
padding: 30px;

}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
}
header h1 {
    margin: 15px 0 5px;
    font-size: 24px;
}

header p {
    margin: 2;
    font-size: 16px;
}

main {
 justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   
}
.card{

background-color: rgba(207, 196, 196, 0.2);
border-radius: 10px;
padding: 20px;
text-align: flex-start;
transition: transform 0.3s ease;


}

.card a:hover {

    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin-bottom: 10px;
    
}

.card a {

     display: flex;
    padding: 10px 20px;
    margin-top: 10px;
    align-items: flex-end;
    background-color: #24e2e2;
    /* Para jogar o botão na direita */
    margin-left: 300px;
    margin-top: -10px;
    display: inline-block;
    width: 25%;
    color: #000000;
    text-decoration: none;
border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold; 

}
h3 {
    color: #f8cf49;
}
p {
    color: #757171;
}

footer {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid #1fd8b0;
    margin-top: 10px;
}
/* align-items: center; */


/* 
header {
    text-align: center;
    padding: 30px;

}
header img {
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    }
header h1 {
    margin: 15px 0 5px;
    font-size: 24px;
}

header p {
    margin: 2;
    font-size: 16px;
    }
    
main {
 justify-content: space-evenly;
 display: flex;
 flex-direction: column;
    align-items: center;
    gap: 20px;
    
    } */
